#web-content {
  display: flex;
  flex-direction: column;
}

#web-content .web-link-container {
  margin: 5px 20px;
  width: 700px;
}

#images {
  display: flex;
  flex-wrap: wrap;
  padding: 0 200px;
  justify-content: center;
}

#images .image-container img {
  height: 200px;
  width: 200px;
  margin: 10px;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#videos .video-container {
  margin: 10px;
}
